{% extends 'clientside/event.html' %}
{% load extra_template_tags %}

{% comment %}
  The template for an `AudioFileCommentEvent` widget
  Expects an `Event` instance as context.
{% endcomment %}

{% block event_text %}
    {%verbatim%}
        {{if currentRoute == 'collections' || currentRoute == 'collection_audio'}}
            commented on {{tmpl($data.get('audioFile')) "#audiofile_link_template"}}
        {{/if}}
        {{if currentRoute == 'collections'}}
            from {{tmpl($data.get('collection')) "#collection_link_template"}}
        {{/if}}
    {% endverbatim %}
{% endblock %}