{% load extra_template_tags %}

{% verbatim %}
    <div class="table-row uploadfilewidget">
        <div class="table-cell uploadfilewidget_nameContainer">${$data.get('name')}</div>
        <div class="table-cell uploadfilewidget_statusContainer">
            <p class="uploadfilewidget_status">${$data.getDisplayStatus('UPPER')}</p>
            <progress class="uploadfilewidget_progress" value="${$data.get('progress')}"></progress>
       </div>
    </div>
{% endverbatim %}

        {% comment %}
        <!-- <div class="uploadfilewidget_collection_selector_container table-cell">
            <select id="uploadfilewidget_collection_selector-${id}" class="uploadfilewidget_collection_selector" name="collection_id">
                <option value="-1">Please select a collection</option>
                {# Server side templating, to populate dropdowns #}
                {% for collection in user.collections.all %}
                    <option value="{{ collection.id }}">{{ collection.name }}</option>
                {% endfor %}
            </select>
        </div> -->
       {% endcomment %}
