{% extends "partials/panel.html" %}

{# Panel is initially hidden because it is a modal dialog #}
{% block panel_class %}modal hidden{% endblock %}

{% block header_content %}
Upload Audio
{% endblock %}

{% block panel_content %}

    {# area to display uploading status #}
    {% comment %}
    <div id="status_container">
        <p>
            Uploading<span id="status_animated_dots"></span><br />
            Please be patient.  This may take some time.
        </p>
    </div>
    {% endcomment %}

    <div id="upload_panel_formContainer">


        <form id="upload_panel_form">
            <label for="upload_panel_file_chooser">Select files to upload</label>
            <p>Many formats accepted.</p>
            
            <input type="file" multiple="true" id="upload_panel_file_chooser" />

            {% csrf_token %}

            <button id="upload_submit_button">Upload</button>
        </form>

        {# This is the listing of files that the user has chosen #}
        <div id="files_table" class="table"></div>

    </div>
{% endblock %}