{% extends "partials/panel.html" %}

{# Panel is initially hidden because it is a modal dialog #}
{% block panel_class %}modal hidden{% endblock %}

{% block header_content %}
Upload Audio
{% endblock %}

{% block panel_content %}

    {# area to display uploading status #}
    <div id="upload_status_container" class="table">
    </div>

    <div id="upload_panel_formContainer">
        <form id="upload_panel_form">
            <label for="upload_panel_file_chooser">Select files to upload</label>
            <p>Many formats accepted.</p>

            <input type="file" multiple="true" id="upload_panel_file_chooser" />

            {% csrf_token %}

            <input type="hidden" id="upload_panel_collection_id" name="collection_id" />

            <button id="upload_submit_button">Upload</button>
        </form>
    </div>
{% endblock %}