{% extends 'base_site.html' %}
{% load extra_template_tags %}
{% load panels %}
{% load widgets %}

{% comment %}
    @file   logged_in.html
    This is the template for the page when a user is logged in.
{% endcomment %}

{% block middle %}
    {#  We have two waveform viewer panels #}
    {% panel 'logged_in/partials/overview_waveform_panel.html' 'overview_waveform' %}
    {% panel 'logged_in/partials/detail_waveform_panel.html' 'detail_waveform' %}
{% endblock %}

{% block left %}
    {# an events panel #}
    {% panel 'logged_in/partials/eventslist_panel.html' 'events_list' %}
{% endblock %}

{% block right %}
    {# and a list panel #}
    {% panel 'logged_in/partials/list_panel.html' 'list' %}
{% endblock %}

{% block clientside %}

    {# and some client-side templates #}
    <script id="file_widget_template" type="text/x-jquery-tmpl">
        {% widget 'logged_in/clientside/file_widget_template.html' 'file' %}
    </script>

    <script id="segment_widget_template" type="text/x-jquery-tmpl">
        {% widget 'logged_in/clientside/segment_widget_template.html' 'segment' %}
    </script>
    
    {# Template for top of detail waveform panel when a file is selected #}
    <script id="detail_waveform_top_file_template" type="text/x-jquery-tmpl">
        {% include 'logged_in/clientside/detail_waveform_top_file_template.html' %}
    </script>
    
    {# Template for top of detail waveform panel when a segment is selected #}
    <script id="detail_waveform_top_segment_template" type="text/x-jquery-tmpl">
        {% include 'logged_in/clientside/detail_waveform_top_segment_template.html' %}    
    </script>

    {# Template for bottom of detail waveform panel when a segment is selected #}
    <script id="detail_waveform_bottom_segment_template" type="text-x-jquery-tmpl">
        {% include 'logged_in/clientside/detail_waveform_bottom_template.html' %}
    </script>
    
    <script id="comment_widget_template" type="text/x-jquery-tmpl">
        {% include 'logged_in/clientside/comment_widget_template.html' %}
    </script>
    
    <script id="comment_panel_header_template" type="text/x-jquery-tmpl">
        {% include 'logged_in/clientside/comment_panel_header_template.html' %}
    </script>

    <script id="segment_bar_row_template" type="text/x-jquery-tmpl">
        {% include 'logged_in/clientside/segment_bar_row.html' %}
    </script>
    
    <script id="segment_bar_template" type="text/x-jquery-tmpl">
        {% include 'logged_in/clientside/segment_bar.html' %}
    </script>
    
    <script id="collection_widget_template" type="text/x-jquery-tmpl">
        {% widget 'logged_in/clientside/collection_widget_template.html' 'collection' %}
    </script>
    
    
    

    
        
{% endblock %}
