{% comment %}

@file base_site.html
The base template for all pages.  All page templates will use this.

{% endcomment %}


{% load extra_template_tags %}
{% load panels %}

<!DOCTYPE html>
<html>
  <head>
    <title>Concert</title>
    <link rel="icon" type="image/png" href="/graphics/logo.png" />
    
    <link rel="stylesheet" href="/css/jquery-ui/jquery-ui-1.8.12.custom.css">
    
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <link rel="stylesheet" type="text/css" href="/css/panels.css">
    <link rel="stylesheet" href="/css/components.css">
   <!-- <link rel="stylehseet" type="text/css" href="/css/pages.css">-->

    {# Global namespaces and variables #}
    <script src="/js/global.js"></script>
    
    {# Vendor #}
    <script src="/js/lib/vendor/jquery-1.5.1.js"></script>
    <script src="/js/lib/vendor/jquery.tmpl.js"></script>
    <script src="/js/lib/vendor/jquery-ui-1.8.12.custom.min.js"></script>
    <script src="/js/lib/vendor/modernizr-1.6.min.js"></script>
    <script src="/js/lib/vendor/jquery.form.js"></script>
    <script src="/js/lib/vendor/jquery.imagesloaded.js"></script>
    <script src="/js/lib/vendor/underscore-min.js"></script>
    <script src="/js/lib/vendor/json2.js"></script>
    <script src="/js/lib/vendor/backbone.js"></script>
    <script src="/js/lib/vendor/gury.js"></script>
    <script src="/js/lib/vendor/jquery.easing.1.3.js"></script>
    <script src="/js/lib/vendor/jquery.scroll-startstop.events.js"></script>
    <script src="/js/lib/vendor/jquery.noisy.js"></script>
    <script src="/js/lib/vendor/date.format.js"></script>

    {# Helpers #}
    <script src="/js/lib/helpers/AnimatedDots.js"></script>
    <script src="/js/lib/helpers/UIHelpers.js"></script>
    <script src="/js/lib/helpers/BackboneHelpers.js"></script>

    {# Models #}
    <script src="/js/lib/models/ConcertBackboneCollection.js"></script>
    <script src="/js/lib/models/ConcertBackboneModel.js"></script>
    <script src="/js/lib/models/Collection.js"></script>
    <script src="/js/lib/models/User.js"></script>
    <script src="/js/lib/models/Request.js"></script>
    <script src="/js/lib/models/AudioFile.js"></script>
    <script src="/js/lib/models/AudioSegment.js"></script>
    <script src="/js/lib/models/Tag.js"></script>
    <script src="/js/lib/models/Comment.js"></script>
    <script src="/js/lib/models/Event.js"></script>
    <script src="/js/lib/models/AudioFileUploadedEvent.js"></script>
    <script src="/js/lib/models/AudioSegmentCreatedEvent.js"></script>
    <script src="/js/lib/models/AudioSegmentTaggedEvent.js"></script>
    <script src="/js/lib/models/CreateCollectionEvent.js"></script>
    <script src="/js/lib/models/JoinCollectionEvent.js"></script>
    <script src="/js/lib/models/LeaveCollectionEvent.js"></script>
    <script src="/js/lib/models/RequestDeniedEvent.js"></script>
    <script src="/js/lib/models/RequestJoinCollectionEvent.js"></script>
    <script src="/js/lib/models/RequestRevokedEvent.js"></script>
    
    
    {# Modal notification framework #}
    <script src="/js/lib/notifications/ModalAlert.js"></script>
    <script src="/js/lib/notifications/ConfirmModalAlert.js"></script>
    <script src="/js/lib/notifications/Notifier.js"></script>


    {# Dataset managers #}
    <script src="/js/lib/modelmanagers/ModelManager.js"></script>
    <script src="/js/lib/modelmanagers/LoggedInModelManager.js"></script>
    <script src="/js/lib/modelmanagers/CollectionsPageModelManager.js"></script>

    {# Buttons #}
    <script src="/js/lib/buttons/Button.js"></script>
    <script src="/js/lib/buttons/IconButton.js"></script>
    <script src="/js/lib/buttons/LargeIconButton.js"></script>
    <script src="/js/lib/buttons/LinkLargeIconButton.js"></script>
    <script src="/js/lib/buttons/UploadLinkLargeIconButton.js"></script>
    <script src="/js/lib/buttons/SettingsLinkLargeIconButton.js"></script>
    <script src="/js/lib/buttons/CreateNewCollectionButton.js"></script>

 
    {# Widgets #}
    <script src="/js/lib/widgets/Widget.js"></script>
    <script src="/js/lib/widgets/ManageAdminCollectionWidget.js"></script>
    <script src="/js/lib/widgets/ManageMemberCollectionWidget.js"></script>
    <script src="/js/lib/widgets/ManageRequestWidget.js"></script>
    <script src="/js/lib/widgets/CollectionRequestWidget.js"></script>
    <script src="/js/lib/widgets/CreateJoinCollectionWidget.js"></script>
    <script src="/js/lib/widgets/CollectionSearchResultWidget.js"></script>
    <script src="/js/lib/widgets/CollectionSearchResultsWidget.js"></script>
    <script src="/js/lib/widgets/UploadFileWidget.js"></script>
    <script src="/js/lib/widgets/ListWidget.js"></script>
    <script src="/js/lib/widgets/FileWidget.js"></script>
    <script src="/js/lib/widgets/SegmentWidget.js"></script>
    <script src="/js/lib/widgets/CollectionInfoWidget.js"></script>
    <script src="/js/lib/widgets/ManageCollectionWidget.js"></script>
    <script src="/js/lib/widgets/CommentWidget.js"></script>
    <script src="/js/lib/widgets/AudioSegmentBarWidget.js"></script>
    <script src="/js/lib/widgets/TagWidget.js"></script>
    <script src="/js/lib/widgets/EventWidget.js"></script>
    <script src="/js/lib/widgets/AudioFileUploadedEventWidget.js"></script>
    <script src="/js/lib/widgets/AudioSegmentCreatedEventWidget.js"></script>
    <script src="/js/lib/widgets/AudioSegmentTaggedEventWidget.js"></script>
    <script src="/js/lib/widgets/CreateCollectionEventWidget.js"></script>
    <script src="/js/lib/widgets/JoinCollectionEventWidget.js"></script>
    <script src="/js/lib/widgets/LeaveCollectionEventWidget.js"></script>
    <script src="/js/lib/widgets/RequestDeniedEventWidget.js"></script>
    <script src="/js/lib/widgets/RequestJoinCollectionEventWidget.js"></script>
    <script src="/js/lib/widgets/RequestRevokedEventWidget.js"></script>
    <script src="/js/lib/widgets/CollectionWidget.js"></script>
    
    
    {# Components #}
    <script src="/js/lib/components/Component.js"></script>
    <script src="/js/lib/components/DetailWaveformTimecodeComponent.js"></script>
    <script src="/js/lib/components/WaveformPlayheadComponent.js"></script>
    <script src="/js/lib/components/OverviewWaveformPlayheadComponent.js"></script>
    <script src="/js/lib/components/DetailWaveformPlayheadComponent.js"></script>
    <script src="/js/lib/components/WaveformInteractionComponent.js"></script>
    <script src="/js/lib/components/DetailWaveformInteractionComponent.js"></script>
    <script src="/js/lib/components/OverviewWaveformInteractionComponent.js"></script>
    <script src="/js/lib/components/EditableModelTextComponent.js"></script>
    <script src="/js/lib/components/AutocompleteListInputComponent.js"></script>
    <script src="/js/lib/components/TagAutocompleteListInputComponent.js"></script>
    <script src="/js/lib/components/ListPanelSearchAutocompleteListInputComponent.js"></script>
    

    {# Panels #}
    <script src="/js/lib/panels/Panel.js"></script>
    <script src="/js/lib/panels/GlobalOptionsPanel.js"></script>
    <script src="/js/lib/panels/CreateJoinCollectionPanel.js"></script>
    <script src="/js/lib/panels/ManageTablePanel.js"></script>
    <script src="/js/lib/panels/ManageAdminCollectionsPanel.js"></script>
    <script src="/js/lib/panels/ManageMemberCollectionsPanel.js"></script>
    <script src="/js/lib/panels/ManageRequestsPanel.js"></script>
    <script src="/js/lib/panels/UploadPanel.js"></script>
    <script src="/js/lib/panels/WaveformPanel.js"></script>
    <script src="/js/lib/panels/OverviewWaveformPanel.js"></script>
    <script src="/js/lib/panels/DetailWaveformPanel.js"></script>
    <script src="/js/lib/panels/ListPanel.js"></script>
    <script src="/js/lib/panels/ManageCollectionsPanel.js"></script>
    <script src="/js/lib/panels/EventsPanel.js"></script>
    <script src="/js/lib/panels/DetailWaveformPanelTagBay.js"></script>
    
    {# Pages #}
    <script src="/js/lib/pages/Page.js"></script>
    <script src="/js/lib/pages/LoggedInPage.js"></script>
    <script src="/js/lib/pages/CollectionsPage.js"></script>
    <script src="/js/lib/pages/UploadPage.js"></script>
    <script src="/js/lib/pages/LoginPage.js"></script>
    <script src="/js/lib/pages/AudioController.js"></script>
      
    <script src="/js/init.js"></script>

</head>
<body>
<div id="modal-container">
	<div id="modal-overlay">
		<div id="modal-overlay-background"></div>
		<div id="modal-overlay-pane">
			<button id="modal-overlay-confirm-ok">ok</button>
		</div>
	</div>
</div>

<div id="layout">
	<div id="inset">
    	<div id="layout_top">
       	</div>
		<div id="layout_middle">
          	{% block middle %}{% endblock %}
		</div>
	</div>
    <div id="layout_bottom">
    	<div id="bottom_left"> 
       		{% block left %}{% endblock %}
       	</div>
        <div id="bottom_right">
       		{% block right %}{% endblock %}
       	</div>    
	</div>    
</div>

<!--- <div id="background_glare"></div> -->

    {% block clientside %}{% endblock %}
    {# Some client-side templates that are used on most pages #}
    <script id="collection_selector_options_template" type="text/x-jquery-tmpl">
        {% include "../templates/clientside/collection_dropdown_options.html" %}
    </script>
    
    {# A link to a user #}
    <script id="user_link_template" type="text/x-jquery-tmpl">
        {% include 'clientside/user_link.html' %}
    </script>
    
    {# A link to an audioFile #}
    <script id="audiofile_link_template" type="text/x-jquery-tmpl">
        {% include 'clientside/audiofile_link.html' %}
    </script>
    
    {# A link to a collection #}
    <script id="collection_link_template" type="text/x-jquery-tmpl">
        {% include 'clientside/collection_link.html' %}
    </script>
    
    {# A link to an audio segment #}
    <script id="audiosegment_link_template" type="text/x-jquery-tmpl">
        {% include 'clientside/audiosegment_link.html' %}
    </script>
    
    {# A link to a tag #}
    <script id="tag_link_template" type="text/x-jquery-tmpl">
        {% include 'clientside/tag_link.html' %}
    </script>
    
    {# Event widgets #}
    <script id="event_template" type="text/x-jquery-tmpl">
        {% include 'clientside/event.html' %}
    </script>
    <script id="audiofileuploadedevent_template" type="text/x-jquery-tmpl">
        {% include 'clientside/audiofileuploadedevent.html' %}
    </script>
    <script id="audiosegmentcreatedevent_template" type="text/x-jquery-tmpl">
        {% include 'clientside/audiosegmentcreatedevent.html' %}
    </script>
    <script id="audiosegmenttaggedevent_template" type="text/x-jquery-tmpl">
        {% include 'clientside/audiosegmenttaggedevent.html' %}
    </script>
    <script id="createcollectionevent_template" type="text/x-jquery-tmpl">
        {% include 'clientside/createcollectionevent.html' %}
    </script>
    <script id="joincollectionevent_template" type="text/x-jquery-tmpl">
        {% include 'clientside/joincollectionevent.html' %}
    </script>
    <script id="leavecollectionevent_template" type="text/x-jquery-tmpl">
        {% include 'clientside/leavecollectionevent.html' %}
    </script>
    <script id="requestdeniedevent_template" type="text/x-jquery-tmpl">
        {% include 'clientside/requestdeniedevent.html' %}
    </script>
    <script id="requestjoincollectionevent_template" type="text/x-jquery-tmpl">
        {% include 'clientside/requestjoincollectionevent.html' %}
    </script>
    
    <script id="requestrevokedevent_template" type="text/x-jquery-tmpl">
        {% include 'clientside/requestrevokedevent.html' %}
    </script>
    
    {# Template used for a result in an autocomplete listing #}
    <script id="autocomplete_list_item_template" type="text/x-jquery-tmpl">
        {% include 'logged_in/clientside/autocomplete_list_item_template.html' %}
    </script>
    
    {# Send variable to javascript with recognizable path so we know what page we're on #}
    {% if js_page_path %}
        <script>
            {# Initialize the page with our current page path and default data #}
            initializeUI('{{ js_page_path }}',
                {% if data %}
                    {% autoescape off %}
                        {{ data }}
                    {% endautoescape %}
                {% else %}
                    {% autoescape off %}
                        {}
                    {% endautoescape %}
                {% endif %}
            );
        </script>
    {% endif %}
    
</body>
</html>
