{% extends 'organize/clientside/audiolist_widget_template.html' %}
{% load extra_template_tags %}

{% block info %}
<div class="title">
	{% verbatim %}${name}{% endverbatim %}
</div>
<div class="info">
    {% verbatim %}
		${seconds_to_timecode(duration)} <span class="small_text"> uploaded by </span> ${uploader.get("username")}	
	{% endverbatim %}
</div>
{% endblock %}

{% block bottom %}
<div class="segments">
SEGMENT - SEGMENT - SEGMENT - SEGMENT - SEGMENT - SEGMENT - SEGMENT - SEGMENT - SEGMENT - SEGMENT - SEGMENT - SEGMENT - SEGMENT - SEGMENT - SEGMENT - SEGMENT
</div>			
{% endblock %}