{% extends 'organize/clientside/audiolist_widget_template.html' %}
{% load extra_template_tags %}

{% block info %}
    {% verbatim %}
        <div class="info">
        	${seconds_to_timecode(end-beginning)} <span class="small_text">of</span> ${audioFile.get("name")} <span class="small_text">selected by</span> ${creator.get("username")}	
        </div>
    {% endverbatim %}
{% endblock %}

{% block bottom %}
    {% verbatim %}
        <div class="bottom">
        		TAG - TAG - TAG - TAG - TAG - TAG - TAG - TAG - TAG - TAG
        </div>			
    {% endverbatim %}
{% endblock %}
