/* This is a panel on the UI, used for many things. */
/* line 2, ../sass/panels.scss */
div.panel {
  position: relative;
}

/* line 6, ../sass/panels.scss */
.panel_nocontent_container {
  display: none;
}

/* This is the div that shows a loading notification on each panel */
/* line 11, ../sass/panels.scss */
div.panel_loader {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: gray;
  text-align: center;
  opacity: 0;
  z-index: -1;
}

/* This class is added when the panel loader is to be displayed */
/* line 22, ../sass/panels.scss */
div.panel_loader_enabled {
  opacity: 0.7;
  z-index: 9999;
}

/*Overview Waveform Panel */
/* line 29, ../sass/panels.scss */
div#overview_waveform_panel_top {
  color: #f8f8fa;
  width: 956px;
  margin: 0 auto;
  height: 60px;
  background: -webkit-gradient(linear, left top, left bottom, from(#18181f), to(#45455a));
  -webkit-box-shadow: inset 0 0 10px #000000;
}

/* line 38, ../sass/panels.scss */
div#overview_waveform_panel_playhead {
  height: 60px;
  margin: 0px 1px 0px 1px;
}

/* line 43, ../sass/panels.scss */
div.playhead {
  background-color: #FF0000;
  color: #FF0000;
  width: 1px;
  z-index: 300;
  position: absolute;
}

/* line 51, ../sass/panels.scss */
div#overview_waveform_panel_bottom {
  width: 956px;
  margin: 0 auto;
  height: 20px;
  padding-bottom: 20px;
}

/*Detail Waveform Panel */
/* line 60, ../sass/panels.scss */
div#detail_waveform_panel_contents {
  -webkit-box-orient: vertical;
  display: -webkit-box;
}

/* line 65, ../sass/panels.scss */
div#detail_wavform_wrap {
  width: 954px;
  border: 1px solid white;
  margin: 0 auto;
  background: #f8f8fa;
}

/* line 72, ../sass/panels.scss */
div#detail_waveform_panel_top {
  width: 874px;
  height: 10px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 40px;
  padding-left: 40px;
  -webkit-box-orient: horizontal;
  display: -webkit-box;
}

/* line 83, ../sass/panels.scss */
div#detail_waveform_panel_top_left {
  width: 440px;
  text-transform: uppercase;
}

/* The name of the segment/file at the top of the detail panel */
/* line 89, ../sass/panels.scss */
span#detail_waveform_selected_name {
  font-weight: bold;
}

/* The text input box that appears when clicking on the name */
/* line 94, ../sass/panels.scss */
input#detail_waveform_selected_name_editable {
  height: 1em;
}

/* line 99, ../sass/panels.scss */
div#detail_waveform_panel_top_right {
  width: 440px;
  text-align: right;
  text-transform: uppercase;
}

/* line 105, ../sass/panels.scss */
div#detail_waveform_panel_middle {
  width: 954px;
  height: 254px;
  -webkit-box-orient: horizontal;
  display: -webkit-box;
}

/* line 112, ../sass/panels.scss */
div#detail_waveform_panel_middle_left {
  padding-left: 12px;
  padding-right: 18px;
  width: 10px;
}

/* line 118, ../sass/panels.scss */
div#detail_waveform_panel_middle_right {
  padding-left: 18px;
  padding-right: 12px;
  width: 10px;
  margin-left: 874px;
}

/* line 125, ../sass/panels.scss */
div#detail_waveform_panel_middle_left .arrow_space {
  height: 57px;
  width: 100%;
  padding-top: 43px;
}

/* line 131, ../sass/panels.scss */
div#detail_waveform_panel_middle_right .arrow_space {
  height: 57px;
  width: 100%;
  padding-top: 43px;
}

/* line 137, ../sass/panels.scss */
div#detail_waveform_panel_middle_left .arrow_space .arrow {
  border-color: transparent #45455a transparent transparent;
  border-style: solid;
  border-width: 8px 12px 8px 0px;
  width: 0;
  height: 0;
}

/* line 145, ../sass/panels.scss */
div#detail_waveform_panel_middle_right .arrow_space .arrow {
  border-color: transparent transparent transparent #45455a;
  border-style: solid;
  border-width: 8px 0px 8px 12px;
  width: 0;
  height: 0;
}

/* line 153, ../sass/panels.scss */
div#detail_waveform_panel_view {
  color: #f8f8fa;
  width: 874px;
  height: 255px;
  position: absolute;
  overflow-x: scroll;
  overflow-y: hidden;
}

/**SHADOW**/
/* line 163, ../sass/panels.scss */
div#detail_waveform_panel_view_overlay {
  width: 874px;
  height: 198px;
  -webkit-box-shadow: inset 0 0 10px #000000;
  z-index: 200;
  position: absolute;
  top: 41px;
  left: 41px;
  border: 1px solid white;
}

/**UNDERLAY GRADIENT**/
/* line 175, ../sass/panels.scss */
div#detail_waveform_panel_view_underlay {
  width: 874px;
  height: 200px;
  z-index: 100;
  position: absolute;
  top: 41px;
  left: 41px;
  background: -webkit-gradient(linear, left top, left bottom, from(#45455a), to(#18181f));
}

/* line 185, ../sass/panels.scss */
div#detail_waveform_panel_playhead {
  height: 198px;
  margin: 1px;
}

/* line 190, ../sass/panels.scss */
div#detail_waveform_panel_bottom {
  width: 948px;
  padding: 1em;
}

/* line 195, ../sass/panels.scss */
div#detail_waveform_panel_waveform_timecode_playhead {
  position: absolute;
}

/* line 199, ../sass/panels.scss */
div#detail_waveform_panel_timecode {
  height: 40px;
  background: #f8f8fa;
  position: absolute;
  top: 200px;
  z-index: 200;
}

/* line 207, ../sass/panels.scss */
div#audiolist_panel_contents {
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

/**
*  Waveform highlight
**/
/* line 217, ../sass/panels.scss */
div.highlight_container {
  z-index: 300;
  position: absolute;
}

/* line 222, ../sass/panels.scss */
div.highlight {
  height: 100%;
  position: relative;
  background: transparent;
  -webkit-box-shadow: inset 0 0 40px #fff;
}

/* Initially a highlight will be disabled */
/*div.highlight.disabled {
  height: 100%;
  position: relative;
  background-color: white;
  opacity: 0.5;
  display: -webkit-box;
}
*/
/* line 239, ../sass/panels.scss */
div.leftHandle {
  height: 100%;
  position: absolute;
  left: -1;
  background-color: #fff;
  width: 1px;
  visibility: inherit;
}

/* line 248, ../sass/panels.scss */
div.leftHandle:hover {
  left: -2px;
  width: 3px;
  cursor: col-resize;
}

/* line 254, ../sass/panels.scss */
div.rightHandle {
  height: 100%;
  position: absolute;
  right: -1px;
  background-color: #fff;
  width: 1px;
  visibility: inherit;
}

/* line 263, ../sass/panels.scss */
div.rightHandle:hover {
  right: -2px;
  width: 3px;
  cursor: col-resize;
}

/* Initially a highlight will be disabled */
/* line 270, ../sass/panels.scss */
div.disabled {
  visibility: hidden;
}

/* line 274, ../sass/panels.scss */
div#detail_waveform_panel_highlight_container {
  height: 196px;
  margin: 2px 0px 2px 0px;
}

/* line 278, ../sass/panels.scss */
div#overview_waveform_panel_highlight_container {
  height: 58px;
  margin: 1px 0px 1px 0px;
}

/**
*  Waveform images
**/
/* line 286, ../sass/panels.scss */
img.waveform_image {
  display: block;
  z-index: 100;
  position: absolute;
}

/* Fit overview image in box */
/* line 293, ../sass/panels.scss */
img#overview_waveform_image {
  width: 956px;
  height: 60px;
}

/* line 298, ../sass/panels.scss */
div#create_join_panel, div#manage_admin_collections_panel, div#manage_member_collections_panel, div#manage_request_collections_panel {
  height: 100px;
}

/* line 303, ../sass/panels.scss */
div.file_widget {
  width: 408px;
  height: 70px;
  border: 1px solid #000000;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  padding: 5px;
}

/**
 *  Detail waveform panel tag bay
 **/
/* line 316, ../sass/panels.scss */
div#detail_waveform_panel_tags {
  display: inline;
}

/* line 320, ../sass/panels.scss */
input#detail_waveform_panel_tag_input {
  display: inline;
  height: 15px;
  font-size: 10px;
  margin: 0.8em 1em 0px 0px;
  padding: 3px 5px 0px 5px;
  -webkit-appearance: none;
  background: transparent;
  border: 0;
}

/* line 331, ../sass/panels.scss */
input#detail_waveform_panel_tag_input:focus {
  border: 0;
}

/* line 335, ../sass/panels.scss */
input#detail_waveform_panel_tag_input::-webkit-input-placeholder {
  color: gray;
  opacity: 0.7;
}

/*AUDIO PANEL*/
/* line 344, ../sass/panels.scss */
div#list_panel {
  width: 359px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  padding-top: 1px;
  padding-bottom: 1px;
}

/* line 352, ../sass/panels.scss */
div#list_nav {
  width: 335px;
  height: 20px;
  border: 1px solid white;
  padding: 10px;
  background: #f8f8fa;
}

/* line 360, ../sass/panels.scss */
div#list_panel_header {
  width: 357px;
  margin: 0 auto;
}

/* line 366, ../sass/panels.scss */
div#list_panel_search_container {
  background: -webkit-gradient(linear, left top, left bottom, from(#18181f), to(#45455a));
  height: 40px;
  width: 337px;
  -webkit-box-shadow: inset 0 0 10px #000;
  text-shadow: none;
  padding: 0px 10px 0px 10px;
  margin-bottom: -2px;
}

/* line 376, ../sass/panels.scss */
input#list_panel_search {
  background: transparent;
  text-decoration: none;
  height: 30px;
  width: 337px;
  padding-top: 10px;
  outline: 0px;
  border: 0px;
}

/* line 386, ../sass/panels.scss */
div#list_panel .selected {
  width: 335px;
  border: 1px solid white;
  padding: 9px;
  background: #f8f8fa;
  color: #2e2e35;
  overflow: hidden;
  margin: 0 auto;
}

/*pushed to universal classes*/
/* line 398, ../sass/panels.scss */
div.title {
  font-size: 13px;
  text-transform: uppercase;
  font-weight: bold;
}

/* line 404, ../sass/panels.scss */
.small_text {
  font-size: 10px;
  font-weight: normal;
  padding-bottom: 8px;
}

/*
.text{
    font-family: Georgia, serif;
    text-transform: none;
    font-size: 15px;
}*/
/* events panel */
/* line 417, ../sass/panels.scss */
div#events_list_panel {
  width: 578px;
  padding: 10px;
}

/* Container for comment form */
/* line 423, ../sass/panels.scss */
div#events_list_panel_header {
  margin-bottom: 1em;
}

/* Comment form field */
/* line 428, ../sass/panels.scss */
textarea#comment_field {
  width: 100%;
  height: 2.5em;
  padding: 0.5em;
  box-sizing: border-box;
}

/* When comment form field is expanded */
/* line 436, ../sass/panels.scss */
textarea#comment_field.expanded {
  height: 4em;
}

/* Comment button */
/* line 441, ../sass/panels.scss */
button#comment_button.hidden {
  display: none;
}

/* Container for events */
/**
 *  SEGMENT BARS
 **/
/* A row of segment bars */
/* line 455, ../sass/panels.scss */
.segment_bar_row {
  padding-top: 2px;
  height: 3px;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
}

/**
*  A single segment bar
*
*  margin-left and width properties will change dynamically
**/
/* line 467, ../sass/panels.scss */
.segment_bar {
  background: #45455a;
  position: absolute;
  height: 3px;
}

/* line 473, ../sass/panels.scss */
#background_glare {
  border-color: transparent transparent transparent rgba(255, 255, 255, 0.4);
  border-style: solid;
  border-width: 0px 0px 520px 960px;
  width: 0;
  height: 0;
  z-index: -2000;
  position: absolute;
  top: 0;
  left: 0;
}
