/**
 *  Tag widgets
 **/
 
div.tag:hover {
    
}	

div.tag .icon {
    background: url(/graphics/tag.png) no-repeat;
}

div.tag {
    /* `inline-block` ensures that line breaks wont occur in the middle of a tag */
    display: inline-block;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.8em;
    background: #f8f8fa url(/graphics/x.png) -23px 0px no-repeat;
    border: 1px solid white;
    -webkit-box-shadow: 0 0 5px rgba(0,0,0,0.5);
    padding: 0.4em;
    margin: 0.4em;
    cursor: pointer;
}

/**
 *  Event widgets
 **/

div.time {
    display: inline;
}
