{% load extra_template_tags %}
<div class="audio_widget {% verbatim %}{{if selected}} selected{{/if}}{% endverbatim %}
">
    <div class="boxwrap">
        <div class="{{ widgetType }}_widget_icon">
        </div>
        <div class="{{ widgetType }}_widget_info audio_widget_info">
                <div class="title">
                	<a href="{% block title_text_href %}{% endblock %}" class="audio_widget_title_text">
                	    {% verbatim %}${name}{% endverbatim %}
                	</a>
                	<span class="audio_widget_title_buttons">
                	    <button class="delete_audio_button">Delete</button>
            	    </span>
                </div>
            {% block info %}{% endblock %}
        </div>
    </div>
    {% block bottom %}{% endblock %}
</div>