{% extends 'logged_in/clientside/list_widget_template.html' %}
{% load extra_template_tags %}

{% comment %}
    Template for a `CollectionWidget`
    Expects a `Collection` model instance as context
{% endcomment %}

{% block title %}
    {% verbatim %}
        {{tmpl($data) "#collection_link_template"}}
        <br />
        <span class="small_text">
            ${$data.get('users').length} {{if $data.get('users').length == 1}}user{{else}}users{{/if}}
        </span>
    {% endverbatim %}
{% endblock %}




{% block info %}
    <div class="info">
        {% verbatim %}
            <a href="#collection/${$data.get('id')}/manage">wrench</a>
    	{% endverbatim %}
    </div>
    {% endblock %}

    {% block bottom %}
    <div class="bottom">
        {# List all users for this collection #}
        {% comment %}
        
        {% verbatim %}
            {{each(i, user) $data.get('users').models}}
                {{tmpl(user) "#user_link_template"}}
        {% endverbatim %}
        
        {# only put comma if this is not the last user #}
        {% verbatim %}
                {{if i != $data.get('users').length-1}} , {{/if}}
            {{/each}}
        {% endverbatim %}
        {% endcomment %}
        
    </div>
{% endblock %}