{% extends 'logged_in/clientside/list_widget_template.html' %}
{% load extra_template_tags %}

{% block title %}
        {% verbatim %}{{tmpl($data) "#audiofile_link_template"}}{% endverbatim %}
{% endblock %}



{% block info %}
    <div class="info">
        {% verbatim %}
    		${seconds_to_timecode(duration)} <span class="small_text"> uploaded by </span> ${uploader.get("username")}	
    	{% endverbatim %}
    </div>
{% endblock %}

{% block bottom %}
    <div class="bottom">
        {# List all segments for this audio file #}
        
        {% verbatim %}
            {{each(i, segment) segments.toJSON()}}
                <a href="#collection/1/audio/file/1/segment/${segment.id}">${segment.name}</a>
        {% endverbatim %}
        
        {# only put separating dash if this is not the last segment #}
        {% verbatim %}
                {{if i != segments.length-1}} - {{/if}}
            {{/each}}
        {% endverbatim %}
    </div>
{% endblock %}