{% load extra_template_tags %}
<div class="list_widget {{ widgetType }}_list_widget">
    <div class="boxwrap">
        <div class="{{ widgetType }}_list_widget_icon list_widget_icon widget_icon">
        </div>
        <div class="{{ widgetType }}_list_widget_info list_widget_info">
                <div class="title">
                    {% block title %}{% endblock %}
                	<span class="list_widget_title_buttons">
                	    {% block buttons %}{% endblock %}
            	    </span>
                </div>
            {% block info %}{% endblock %}
        </div>
		<div class="{{ widgetType }}_list_widget_admin">
			 click the wrench!
        </div>
    </div>
    <!--{% block bottom %}{% endblock %}-->
</div>